.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 600;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu a {
    font-size: 2rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: initial;
  }
}

/* 
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&family=Nunito+Sans:wght@200&display=swap");

:root {
  --font-style: "Nunito-Sans", sans-serif;
}

body {
  font-family: var(--font-style);
  background-color: #1c2a44;
}

ul {
  margin: 5%;
  width: 450px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px 0;
  border-radius: 25px;
  border: 0.1px solid #099fff;
  background-color: #18181b;
  box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

li::after {
  display: block;
}

li :hover::after {
  transform: scaleX(1);
} */
